@import 'tailwindcss';

@theme {
  /* primary */
  --color-primary-50: #fefce8;
  --color-primary-100: #fef9c3;
  --color-primary-200: #fef08a;
  --color-primary-300: #fde047;
  --color-primary-400: #facc15;
  --color-primary-500: #eab308;
  --color-primary-600: #ca8a04;
  --color-primary-700: #a16207;
  --color-primary-800: #854d0e;
  --color-primary-900: #713f12;
  /* success */
  --color-success-100: #dcfce7;
  --color-success-500: #22c55e;
  --color-success-600: #16a34a;
  --color-success-800: #166534;
  /* gray */
  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;
  /* danger */
  --color-danger-100: #fca5a5;
  --color-danger-500: #ef4444;
  --color-danger-600: #dc2626;
  --color-danger-800: #991b1b;

  --color-basic-white: #ffffff;
}

body {
  font-family: 'Pretendard Variable', sans-serif;
}

/* 배지 스타일 */
.badge-green {
  color: #166534;
  border-radius: 4px;
  background-color: #dcfce7;
  font-weight: 500;
  font-size: 12px;
}

.badge-purple {
  color: #6b21ab;
  border-radius: 4px;
  background-color: #f3e8ff;
  font-weight: 500;
  font-size: 12px;
}

.badge-yellow {
  color: #854d0e;
  border-radius: 4px;
  background-color: #fef9c3;
  font-weight: 500;
  font-size: 12px;
}

.badge-red {
  color: #991b1b;
  border-radius: 4px;
  background-color: #fee2e2;
  font-weight: 500;
  font-size: 12px;
}
:root {
  --toastify-color-light: transparent;
  --toastify-color-progress-success: #22c55e;
  --toastify-color-progress-warning: #facc15;
  --toastify-color-progress-error: #dc2626;
}

.Toastify__toast {
  @apply relative mb-4 flex min-h-0 cursor-pointer justify-between overflow-hidden rounded-lg bg-transparent p-0 shadow-none;
}

.Toastify__toast-body {
  @apply m-0 p-0;
}

.verify-color {
  background-color: var(--color-primary-100);
  color: var(--color-primary-500);
  transition: all 0.2s;
}

.verify-color:hover {
  background-color: var(--color-primary-200);
  color: var(--color-primary-600);
}

.before-verify-color {
  background-color: var(--color-gray-300);
  color: var(--color-gray-700);
}

.gender-click-color {
  background-color: var(--color-primary-100);
  color: var(--color-primary-600);
  height: 42px;
  width: 80px;
  cursor: pointer;
  border: 1px solid;
}

.before-gender-click-color {
  background-color: var(--color-gray-200);
  color: var(--color-gray-600);
  height: 42px;
  width: 80px;
  cursor: pointer;
  border: 1px solid var(--color-gray-300);
}
